package {{namespace}};

import java.net;

public class {{servicename}}
        extends com.gockelhut.jsvcgen.JsonRpcServiceBase {
    public {{servicename}}(URL endpoint) {
        super(endpoint);
    }
    
    // TODO: put in methods
}